파이썬 : 3.9
django 4.0            pip install django==4.0
black 21.12b0         pip install black ==21.12b0
django-stubs 1.9.0   pip install django-stubs==1.9.0
mypy 0.931           pip install mypy == 0.931
isort 5.10.1            pip install isort==5.10.1
PyMySQL 1.0.2 	    pip install pymysql==1.0.2
types-PyMySQL 1.0.6   pip install types-PyMySQL==1.0.6