.wrapper{
    width: 1420px;
    margin: 0 auto;
    font-family: 'Alegreya', sans-serif;
}

.comments_title{
    font-family: 'Alegreya', sans-serif;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 120px;
    color: #390D0D;
    font-weight: bold;
}

.write_button{
    position: relative;
    float: right;
    top:-50px;
    right: 130px;
    width: 180px;
    height: 60px;
    background-color: #390D0D;
    color: white;
    font-size: 20px;
}

.comment_container{
    margin-top: 120px;
    width: 100%;
    height: 1005px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comments_box{
    position: relative;
    top: -46px;
    width: 1060px;
    height : 1000px;
    font-family: 'Alegreya', sans-serif;
    color: #390D0D;
}

.delete_button{
    position: relative;
    float: right;
    top: 53px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 3px solid #390D0D;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete_button:hover{
    background-color: #390D0D;
    color: white;
    cursor: pointer;
}

.comment{
    position: relative;
    width: 100%;
    height: 300px;
    border: 3px solid #390D0D;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.comment_info{
    margin-left: 20px;
}

.comment_title{
    font-size: 60px;

}
.comment_content{
    width: 700px;
    height: 130px;
    margin-top: 30px;
    font-size: 30px;
    overflow-y: scroll;
}

.comment_profile{
    margin-right: 60px;
    width: 200px;
    height:200px;
    background-color: #AAA7A7;
    object-fit: cover;
    object-position: center;

}

.comment_profile img{
    width: 100%;
    height: 100%;
}

.page{
    width : 200px;
    height : 20px;
    margin : 20px auto 200px;
    font-size: 40px;
    font-family: 'Alegreya', sans-serif;
}

.modal_container{
    position: absolute;
    top :-80px;
    display: block;
    width: 100%;
    height: 200%;
    background-color: rgb(41,19,19,0.5);
    font-family: 'Alegreya', sans-serif;
    z-index: 2;
}

.modal_box{
    position: relative;
    top: 400px;
    margin: 0 auto;
    width: 1100px;
    height: 500px;
    background-color: #C4C4C4;
}

.modal_close{
    left: 1060px;
    width: 40px;
    height: 40px;
    background-color: #ab0808;
    opacity: 0.6;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal_close:hover{
    opacity: 1;

}


.user_info_row{
    position: relative;
    top: 50px;
    left: 70px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}



.user_info_row input{
    width: 200px;
    height: 40px;
    background-color: white;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.write_comment{
    position: relative;
    top: 80px;
    left: 30px;
    width: 850px;
    height: 320px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.confirm_button{
    position: relative;
    top: 45px;
    left : 50px;
    width: 160px;
    height: 80px;
    background-color: #785252;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.modal_delete_box{
    position: absolute;

}

.delete_box{
    height: 200px;

}

.modal_delete_row{
    left: 150px;
}
.modal_delete_button{
    width: 900px;
    top: 60px;
    left: 90px;
}