.banner{
    width :100%;
    height: 800px;
    background-image: url("/static/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text_team{
    width :450px;

    margin : 100px auto 0;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    font-weight : 500;
}

.text_team_under_bar{
    width : 480px;
    border-top: 3px solid black;
    margin: 0 auto;
}


.text_desc{
    width: 800px;
    padding: 0 40px 0 40px;
    alignment: center;
    font-size: 60px;
    font-family: 'Alegreya', serif;
    margin: 400px auto 0;

}

.content_box{
    width: 100%;
    margin-bottom: 400px;
}

.content_box_wrapper{
    margin: 200px auto;
    width : 1460px;
}

.content_col{
    margin-top: 100px;
    position: relative;
    width : 600px;
    display: inline-block;
}

.content{
    width :600px;
    height : 700px;
    background-color: white;
    margin-top: 200px;
    transition-property: transform;
    transition-duration:0.5s;
    transition-timing-function: ease-in;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content:hover{
    transform: scale(1.1);
}

.checker{
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: aqua;
    opacity: 0;
}

.delete_button{
    position: absolute;
    width: 40px;
    height:40px;
    background-color: #ab0808;
    left: 560px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #390D0D;
    cursor: pointer;
    opacity: 0;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.first_content{
    margin-top: 0;
}

.first_col{
}

.second_col{
    top: 300px;
    left: 260px;
}