{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/model2.css' %}">

{% endblock %}

{% block content %}
    <p class="introduce">Change the photos you want to the style you want to create!</p>
    <div class="example_how_convert_box">
        <div class="example_img "></div>
        <i class="fa-solid fa-plus fa-5x model_plus"></i>
        <div class="example_img example_img_texture"></div>
        <i class="fa-solid fa-arrow-right-long fa-5x allow"></i>
        <div class="example_result_img "></div>
    </div>
    <button type="button" class="try_button" onclick="move_to_upload()">let me try too</button>


    <div id="model_2_upload_wrapper">
        <p class="upload_title">Upload your photo!</p>
        <div class="upload_row">
            <div class="upload_origin">
                <p class="sub_title sub_title_base">select base photo</p>
                <div class="uploaded_image" id="preview_image_origin"></div>
                <input type="file" style="display: none" id="upload_origin_file" onchange="upload_origin_image()">
                <label for="upload_origin_file" class="upload_button">Click here!</label>
            </div>

            <div class="upload_style">
                <p class="sub_title">select photo by style</p>
                <div class="tip_style" onclick="open_tip_box()">?</div>
                <div class="modal_tip" id="modal_tip" style="display: none">
                    <p>The closer the image is to the texture, the better it will come out!</p>
                    <div class="modal_tip_row">
                        <div class="tip_example">
                            <img src="/static/img/example_img/sight.png">
                        </div>
                        <div class="tip_example">
                            <img src="/static/img/example_img/texture.png">
                        </div>
                    </div>
                    <div class="tip_example_row">
                        <i class="fa-solid fa-xmark fa-5x sight_check"></i>
                        <i class="fa-solid fa-check fa-5x texture_check"></i>
                    </div>
                </div>
                <div class="uploaded_image" id="preview_image_style"></div>
                <input type="file" style="display: none" id="upload_style_file" onchange="upload_style_image()">
                <label for="upload_style_file" class="upload_button">Click here!</label>
            </div>

        </div>
        <button type="button" class="convert_button" onclick="covert_custom_img()">Convert!</button>
    </div>



    <div id="model_2_result_wrapper">
        <p class="result_title">Check Style Transfer your Image!!</p>
        <div class="result_box">
            <div class="result_img">
                <div id="model_2_loading"></div>
                <img id="result_custom_img" style="display: none">
            </div>
            <div class="result_info">
                <a id="save_tag_model2" href="#"> Save this! </a>
                <p class="result_info_desc">original image</p>
                <div class="result_info_desc result_style_emphasis">style image</div>
                <p class="result_info_desc">done!</p>
                <p class="result_save_title">Can we use it?</p>
                <div class="">

                </div>
                <div class="radio_box">
                    <div class="radio_outline" onclick="model_2_open_save_box()">
                        <div class="model_2_radio_fill" style="display: none"></div>
                    </div>
                    <p class="radio_value">Yes</p>
                </div>
                <div class="radio_box">
                    <div class="radio_outline" onclick="model_2_close_save_box()">
                        <div class="model_2_radio_fill" style="display: block"></div>
                    </div>
                    <p class="radio_value">No</p>
                </div>
                <div class="save_box" id="model_2_save_box" style="display: none">
                    <p>Please fill in the information below!</p>
                    <div class="save_input_row">
                        <p>Title</p>
                        <input type="text" id="model2_name">
                    </div>
                    <div class="save_input_row">
                        <p>Password</p>
                        <input type="password" id="model2_password">
                    </div>
                    <button class="save_input_button" onclick="save_result_custom_img()">Save!</button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="/static/js/model2.js"></script>
{% endblock %}