{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/model1.css' %}">
    <script src="/static/js/model1.js"></script>
{% endblock %}

{% block content %}
    <p class="introduce">Try applying the styles of different eras!</p>
    <div class="example_how_convert_box">
        <div class="example_img "></div>
        <i class="fa-solid fa-arrow-right-long fa-5x allow"></i>
        <div class="example_result_img_box">
            <div class="example_result_img_box_row example_left_row_1">
                <div class="example_result_img example_la_muse" id="la_muse" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none" >la_muse</div>
                </div>
                <div class="example_result_img example_composition" id="composition" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">composition</div>
                </div>
                <div class="example_result_img example_starry_night" id="starry_night" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">starry_night</div>
                </div>
            </div>
            <div class="example_result_img_box_row example_left_row_2">
                <div class="example_result_img example_the_wave" id="the_wave" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">the_wave</div>
                </div>

                <div class="example_result_img example_candy" id="candy" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">candy</div>
                </div>

                <div class="example_result_img example_feathers" id="feathers" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">feathers</div>
                </div>

            </div>
            <div class="example_result_img_box_row example_left_row_3" >
                <div class="example_result_img example_mosaic" id="mosaic" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">mosaic</div>
                </div>
                <div class="example_result_img example_the_scream" id="the_scream" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">the_scream</div>
                </div>
                <div class="example_result_img example_udnie" id="udnie" onmouseover="appear(this.id)" onmouseenter="" onmouseleave="disappear(this.id)">
                    <div class="example_result_modal" style="display: none">udnie</div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="try_button" onclick="move_to_upload()" >let me try too</button>
    <p class="upload_title" >Upload your photo!</p>
    <p class="sub_title">TEAM PROJECT 9</p>
    <div class="uploaded_image"></div>
    <input type="file" style="display: none">
    <button type="button" class="upload_button">Click here!</button>
    <p class="select_title">Select Style!</p>
    <div class="select_box"></div>
    <button type="button" class="convert_button">Convert!</button>
    <p class="result_title">Check Style Transfer your Image!!</p>
    <div class="result_box">
        <div class="result_img"></div>
        <div class="result_info">
            <p class="result_info_desc">This image is an image created by AI </p>
            <p class="result_info_desc">using <u>Van Gogh's</u></p>
            <div class="result_info_desc result_style_emphasis">starry_night</div>
            <p class="result_info_desc">painting style.</p>
            <p class="result_save_title">Can we use it?</p>
            <div class="">

            </div>
            <div class="radio_box">
                <div class="radio_outline">
                    <div class="radio_fill" style="display: none"></div>
                </div>
                <p class="radio_value">Yes</p>
            </div>
            <div class="radio_box">
                <div class="radio_outline">
                    <div class="radio_fill" style="display: block"></div>
                </div>
                <p class="radio_value">No</p>
            </div>
            <form class="save_box" style="display: none">
                {% csrf_token %}
                <p>Please fill in the information below!</p>
                <div class="save_input_row">
                    <p>Title</p>
                    <input type="text">
                </div>
                <div class="save_input_row">
                    <p>Password</p>
                    <input type="text">
                </div>
                <button type="submit" class="save_input_button">Save!</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}